<!DOCTYPE html>
<html>
    <head th:include="fragments/head :: head"></head>
    <body>

        <div class="container">
            <div class="row">
                <div class="box">
                    <div class="col">
                        <h1>Gerenciamento de Produtos</h1>
                        <div class="alert alert-success" role="alert" th:if="${produtoExcluido == 1}">
                            <label class="col-form-label">Produto 1 excluido com sucesso!</label>
                        </div>
                        <div class="alert alert-danger" role="alert" th:if="${produtoAdicionado == 1}">
                            <label class="col-form-label">Erro ao excluir Produto 1!</label>
                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Nome</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Açoes</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Produto 1</td>
                                    <td>Disponivel</td>
                                    <td>
                                        <form>
                                            <input type="button" class="botaoAzul" value="Editar">
                                            <a href="" >
                                                <input type="button" class="botaoAmarelo"data-toggle="modal" data-target="#exampleModal}"  value="Remover">
                                            </a>
                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <form>
                                <a th:href="@{/mv/produto/inclAlt}">
                                    <input type="button" class="botaoVerde" value="Adicionar novo">
                                </a>
                            </form>

                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header header-model-modal">
                        <label class="col-form-label">Remover Produto</label>
                        <button type="button" class="close" th:data-dismiss="@{/modal}" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body body-model-modal">
                        <label class="col-form-label">Deseja remover Produto 1? </label>
                    </div>
                    <div class="modal-footer footer-model-modal">
                        <button type="button" class=" botaoAmarelo">Sim</button>
                        <button type="button" class="botaoCinza">Não</button>
                    </div>
                </div>
            </div>
        </div>
        <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/jquery.slicknav.min.js}"></script>
        <script th:src="@{/js/owl.carousel.min.js}"></script>
        <script th:src="@{/js/jquery.nicescroll.min.js}"></script>
        <script th:src="@{/js/jquery.zoom.min.js}"></script>
        <script th:src="@{/js/jquery-ui.min.js}"></script>
        <script th:src="@{/js/main.js}"></script>
    </body>
</html>
