<!DOCTYPE html>
<html>
    <head th:include="fragments/head :: head"></head>
    <body>

        <div class="container">
            <div class="row">
                <div class="box">
                    <div class="col">
                        <h1>Produtos - Incusão</h1>
                        <form method="post" th:action="@{/inclAlt}" th:object="${produto}">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Nome</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="nome" th:field="*{nome}" placeholder="Nome">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label" >Descrição</label>
                                <div class="col-sm-10">
                                    <textarea rows="3" cols="10" id="descricao" class="form-control" placeholder="Descrição" th:field="*{decricao}"></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2">
                                    <label class="col-form-label" >Preço compra</label>
                                </div>
                                <div class="col-sm-4">
                                    <input type="number" id="precocompra" class="form-control" placeholder="Preço compra" th:field="*{precoCompra}">
                                </div>
                                <div class="col-sm-2">
                                    <label class="col-form-label">Preço Venda</label>
                                </div>
                                <div class="col-sm-4">
                                    <input type="number" id="precovenda" class="form-control" placeholder="Preço venda" th:field="*{precoVenda}">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-2">
                                    <label class="col-form-label">Quantidade</label>
                                </div>
                                <div class="col-sm-3">
                                    <input type="number" id="quantidade" class="form-control" placeholder="Quantidade" th:field="*{quantidade}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2">
                                    <label class="col-form-label">Status</label>
                                </div>
                                <div class="col-sm-6">
                                    <input type="radio" value="disponivel" id="status" name="status" th:field="*{status}">
                                    <label class="col-form-label">Disponivel</label>
                                    <input type="radio" value="indisponivel" id="status" name="status" th:field="*{status}">
                                    <label class="col-form-label">Indisponivel</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2">
                                    <label class="col-form-label">Categorias</label>
                                </div>
                                <div class="col-sm-6">
                                    <input type="checkbox" value="c1" id="c1">
                                    <label class="col-form-label">Cat1</label>
                                    <input type="checkbox" value="c2" id="c2">
                                    <label class="col-form-label">Cat2</label>
                                    <input type="checkbox" value="c3" id="c3">
                                    <label class="col-form-label">Cat3</label>
                                    <input type="checkbox" value="c4" id="c4">
                                    <label class="col-form-label">Cat4</label>
                                    <input type="checkbox" value="c5" id="c5">
                                    <label class="col-form-label">Cat5</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4"></div>
                                <div class="col-4">
                                    <button type="button" name="salvar" class="botaoVerde">Salvar</button>
                                    <button type="button" name="cancelar" class="botaoAmarelo">Cancelar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/jquery.slicknav.min.js}"></script>
        <script th:src="@{/js/owl.carousel.min.js}"></script>
        <script th:src="@{/js/jquery.nicescroll.min.js}"></script>
        <script th:src="@{/js/jquery.zoom.min.js}"></script>
        <script th:src="@{/js/jquery-ui.min.js}"></script>
        <script th:src="@{/js/main.js}"></script>
    </body>
</html>
